<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Main Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">제품</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">광고</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- carousel -->
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./images/1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="./images/2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="./images/3.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- main -->
    <div class="container">
      <h2 class="text-center mt-5">Lorem ipsum</h2>
      <p class="mt-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
        voluptate labore laboriosam sunt, laudantium, architecto nulla animi quo
        nihil dolorem pariatur placeat accusantium perspiciatis eveniet
        necessitatibus minus iste, ipsum aliquid iusto ipsa assumenda! Aliquid
        aperiam aut eligendi molestias nostrum, ea laboriosam accusantium ullam
        incidunt? Numquam, recusandae amet magni in asperiores cum iure
        molestias qui sunt corporis dolore necessitatibus cupiditate maiores
        ipsum corrupti itaque accusamus, nobis obcaecati? Provident, aliquid at
        sit adipisci expedita tenetur debitis ipsa explicabo voluptatum
        molestiae mollitia suscipit. Fuga, reprehenderit odio enim voluptatum,
        sapiente qui ab et asperiores nostrum quos cum facere. Ducimus nesciunt
        atque perferendis, doloribus culpa illum harum nobis velit a quisquam
        dolores ratione molestias at praesentium autem voluptates commodi
        inventore eum fugiat obcaecati deserunt quod reiciendis excepturi! At
        odio dolore debitis labore repellat! Necessitatibus aspernatur magni
        laudantium, sed tenetur eum qui cumque quidem. Facilis architecto vero
        omnis ut, nemo in qui perferendis, ab voluptatum laborum obcaecati,
        vitae consectetur! Enim consequatur quidem rerum illum aliquam, quos,
        quisquam accusantium recusandae quibusdam eos tempore saepe aspernatur.
        Corrupti ratione fugiat voluptatem iste non eligendi dolorem libero, et
        debitis similique doloremque maiores aliquid sint quidem at placeat
        alias quam, repellendus, magnam totam? A exercitationem quam libero
        dolorem sapiente hic quas, eum excepturi reprehenderit sunt magnam?
        Facere voluptas, nemo repellendus corrupti, fuga illum, libero pariatur
        est exercitationem ad tempore deleniti hic tenetur aspernatur fugiat
        officia quisquam alias! Sit enim distinctio in commodi officiis non
        totam sequi velit tempora! Corrupti temporibus architecto illo
        dignissimos libero eum officiis, dolor at deleniti omnis quasi numquam
        reiciendis, ea voluptates maxime totam aliquid voluptatibus beatae
        consectetur itaque hic, ab quibusdam? Et, soluta? Nulla rem expedita
        illum facilis fuga eveniet. Ipsum quaerat beatae corporis accusantium
        reprehenderit, labore eligendi in eius iste! Dicta dignissimos
        cupiditate officiis corrupti molestiae accusamus placeat distinctio
        soluta? Repellat molestias ex consectetur! Corrupti, blanditiis?
      </p>
    </div>
  </body>
</html>
