.nav-bar {
  background-color: rgb(50, 50, 50);
}

.nav-logo {
  width: 5rem;
}

.nav-menu-item {
  text-decoration: none;
  color: white;
}

.nav-menu-item:hover {
  color: gray;
  transition: all 300ms ease-in;
}

.nav-menu-items {
  list-style: none;
}

.nav-items {
  margin: 0 1rem;
}

.nav-modal {
  margin: 1.2rem 20rem;
}
